body {
	background-color: light-dark(#fafafa, #151515);
	color: #fff;
	font-family: Arial, sans-serif;
	--primary-color: #3584e4;
	--danger-color: #e01b24;
	--background-color: light-dark(#f2f2f2, #1e1e1e);
	--border-color: light-dark(#393939, #9a9996);
	--text-color: light-dark(#000000, #ffffff);
	--text-button-color: #ffffff;
}

:root {
	color-scheme: light dark;
}
